<%= stylesheet_link_tag("jogging_time") %>
<p style="color: green"><%= notice %></p>

<h1>Jogging times</h1>

<div id="jogging_times" class= "text-center">
  <% @jogging_times.each do |jogging_time| %>
    <%= render jogging_time %>
  <% end %>
</div>

