<div class="post-container" style="margin: auto">
  <p style="color: green"><%= notice %></p>

  <%= render @jogging_time %>

  <% if current_user && (current_user == @jogging_time.user || current_user.admin?) %>
    <div>
      <%= link_to "Edit this jogging time", edit_jogging_time_path(@jogging_time) %> |
      <%= button_to "Destroy this jogging time", @jogging_time, method: :delete %>
    </div>
  <% end %>

</div>
